body{
   background-image: url("https://img.freepik.com/free-photo/white-painted-wall-texture-background_53876-138197.jpg?w=2000");
   font-size: x-large;
}
.apostila{
   border: dotted;
   text-align: center;
   border-color: black;
   margin-left: 40%;
   margin-right: 40%;
}
.introducao{
   text-align: center;
   color: #857ebb;
   border: solid;
   border-color: #857ebb;
   margin-left: 37%;
   margin-right: 37%;
}
.tags{
   text-align: center;
   color: #857ebb;
   border: solid;
   border-color: #857ebb;
   margin-left: 40%;
   margin-right: 40%;
}
.estrutura{
   text-align: center;
   color: #857ebb;
   border: solid;
   border-color: #857ebb;
   margin-left: 30%;
   margin-right: 30%;
}
.introducao-css{
   text-align: center;
   color: #857ebb;
   border: solid;
   border-color: #857ebb;
   margin-left: 37%;
   margin-right: 37%;
}
.inserindo{
   text-align: center;
   color: #857ebb;
   border: solid;
   border-color: #857ebb;
   margin-left: 40%;
   margin-right: 40%;
}
.elemento{
   text-align: center;
   color: #857ebb;
   border: solid;
   border-color: #857ebb;
   margin-left: 40%;
   margin-right: 40%;
}
.tipos{
   text-align: center;
   color: #857ebb;
   border: solid;
   border-color: #857ebb;
   margin-left: 40%;
   margin-right: 40%;
}
.elemento-seletor{
   text-align: center;
   color: #857ebb;
   border: solid;
   border-color: #857ebb;
   margin-left: 25%;
   margin-right: 25%;
}






